In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

/var/folders/cn/z9gkn6nx58gbgcpgjdrsx7xh0000gn/T/ipykernel_29097/2080034654.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# we import the csv dataset
african_economies_df = pd.read_csv('african_economies_dataset.csv')

**EDA Analysis**

In [3]:
african_economies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64472 entries, 0 to 64471
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    64472 non-null  object
 1   indicator  64472 non-null  object
 2   Unit       64472 non-null  object
 3   Date       64472 non-null  int64
 4   Value      64472 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.5+ MB

In [4]:
african_economies_df

,country,indicator,Unit,Date,Value
0,Cameroon,"Population, total",Number,1960,5.176268e+06
1,Cameroon,"Population, total",Number,1961,5.285231e+06
2,Cameroon,"Population, total",Number,1962,5.399922e+06
3,Cameroon,"Population, total",Number,1963,5.520332e+06
4,Cameroon,"Population, total",Number,1964,5.646316e+06
...,...,...,...,...,...
64467,Togo,"Gross capital formation, Private sector (curr...",Current US $,2019,9.749197e+08
64468,Togo,"Gross capital formation, Private sector (curr...",Current US $,2020,8.951734e+08
64469,Togo,"Gross capital formation, Private sector (curr...",Current US $,2021,9.726749e+08
64470,Togo,"Gross capital formation, Private sector (curr...",Current US $,2022,1.099513e+09
64471,Togo,"Gross capital formation, Private sector (curr...",Current US $,2023,1.269728e+09

In [5]:
# creating a multiindex and then reseting the index
african_economies_df_new = african_economies_df.pivot_table(values='Value', index=('country','Date'), columns='indicator').reset_index()

In [6]:
african_economies_df_new.head()

indicator,country,Date,Annual growth rate of real GDP per capita (%),CO2 emissions (metric tons per capita),"Capital and financial account balance (Net, BoP, cur. US$)","Central government, Fiscal Balance (Current US $)","Central government, total expenditure and net lending (Current US $)","Consumer Price Index, Total (Annual Growth rates, %)","Consumer Price Index, in Energy (Annual Growth rates, %)","Consumer Price Index, in Food (Annual Growth rates, %)",...,"Imports of goods & services, Value (WEO, cur. US$)","Inflation, consumer prices (annual %)","Manufacturing, value added (current US$)","Oil exports, Value (Cur. USD)","Oil imports, Value (Cur. USD)","Population, total","Public Administration and defence, value added (current US$)",Real GDP growth (annual %),"Trade balance (Net, BoP, cur. US$)","Unemployment rate, (aged 15 over) (%)"
0,Algeria,1960,NaN,0.546258,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,11124888.0,NaN,NaN,NaN,NaN
1,Algeria,1961,NaN,0.524643,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,11404859.0,NaN,NaN,NaN,NaN
2,Algeria,1962,NaN,0.478617,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,11690153.0,NaN,NaN,NaN,NaN
3,Algeria,1963,NaN,0.447181,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,11985136.0,NaN,NaN,NaN,NaN
4,Algeria,1964,NaN,0.454132,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,12295970.0,NaN,NaN,NaN,NaN

In [8]:
#since we have values from 1960 it is better to use more recent data in order to be more significant
date_mask = african_economies_df_new['Date'] > 1999
african_economies_21st_df = african_economies_df_new[date_mask]

In [9]:
african_economies_21st_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1296 entries, 40 to 3455
Data columns (total 30 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   country                                                                1296 non-null   object
 1   Date                                                                   1296 non-null   int64
 2   Annual growth rate of real GDP per capita (%)                          1116 non-null   float64
 3   CO2 emissions (metric tons per capita)                                 1080 non-null   float64
 4   Capital and financial account balance (Net, BoP, cur. US$)             677 non-null    float64
 5   Central government, Fiscal Balance (Current US $)                      1269 non-null   float64
 6   Central government, total expenditure and net lending  (Current US $)  1258 non-null   float64
 7   Consumer Price Index, Total (Annual Growth rates, %)                   665 non-null    float64
 8   Consumer Price Index, in Energy (Annual Growth rates, %)               524 non-null    float64
 9   Consumer Price Index, in Food (Annual Growth rates, %)                 560 non-null    float64
 10  Exports of goods & services, Value (WEO, cur. US$)                     1254 non-null   float64
 11  External Public Debt from Private Creditors (Current USD)              539 non-null    float64
 12  GDP (current US$)                                                      1285 non-null   float64
 13  GDP per capita,(current US$)                                           1285 non-null   float64
 14  General government final consumption expenditure (current US$)         1285 non-null   float64
 15  Gross capital formation (current US$)                                  1285 non-null   float64
 16  Gross capital formation, Private sector  (current US$)                 1256 non-null   float64
 17  Gross capital formation, Public sector  (current US$)                  1256 non-null   float64
 18  Health expenditure per capita (current US$)                            720 non-null    float64
 19  Household final consumption expenditure (current US$)                  1285 non-null   float64
 20  Imports of goods & services, Value (WEO, cur. US$)                     1255 non-null   float64
 21  Inflation, consumer prices (annual %)                                  1294 non-null   float64
 22  Manufacturing, value added (current US$)                               1126 non-null   float64
 23  Oil exports, Value (Cur. USD)                                          1197 non-null   float64
 24  Oil imports, Value (Cur. USD)                                          1214 non-null   float64
 25  Population, total                                                      1296 non-null   float64
 26  Public Administration and defence, value added (current US$)           1126 non-null   float64
 27  Real GDP growth (annual %)                                             1285 non-null   float64
 28  Trade balance (Net, BoP, cur. US$)                                     1255 non-null   float64
 29  Unemployment rate, (aged 15 over) (%)                                  297 non-null    float64
dtypes: float64(28), int64(1), object(1)
memory usage: 313.9+ KB

In [10]:
#now we substitute the the NaN values with the interpolation for each country since it fits better for times series
african_economies_21st_clean_df = african_economies_21st_df.apply(lambda group: group.interpolate(method='linear'))

/var/folders/cn/z9gkn6nx58gbgcpgjdrsx7xh0000gn/T/ipykernel_29097/945555802.py:2: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  african_economies_21st_clean_df = african_economies_21st_df.apply(lambda group: group.interpolate(method='linear'))